{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/register.css" %}" />
    <title>Register</title>
      <style>
  body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background-color: #052022ff;
  color: white;
  font-family: "Poppins", sans-serif;
}
</style>
  </head>
  <body>
    <div class="main-login-form">
      <div class="login-form-label">
        <h2>Register</h2>
      </div>
      {% if messages %}
      {% for message in messages %}
        <h2 style="color: #e8e4e4ff;">{{message}}</h2>
      {% endfor %}
    {% endif %}
      <form action="#" method="POST" class="login-form">
        {% csrf_token %}
        <input 
          maxlength="30"
          minlength="3"
          required="true"
          class="username-input"
          type="text"
          placeholder="create username"
          required name='username'
        />
        <input
          maxlength="30"
          minlength="5"
          required="true"
          class="password-input"
          type="text"
          placeholder="Enter your email"
          required name='email'
        />
        <input
          maxlength="30"
          minlength="5"
          required="true"
          class="password-input"
          type="password"
          placeholder="Enter your password"
          required name='password'
        />
        <button class="login-button">Register</button>
      </form>
      </button>
      <div class="register-text">
        <p>already have an accout <a href="{% url 'loginpage' %}">login here</a></p>
      </div>
    </div>
  </body>
</html>
